#miraž {
    font-size: large;
    background-color: sandybrown;
}

#vertiko {
    font-size: large;
    background-color: lightskyblue;
}

#anubiz {
    font-size: large;
    background-color: sienna;
}